#movie-title { 
    width: 50%;
}

#btnAdd {
    margin-top: 12%;
    position: absolute;
}

#title-table {
    width: 100%;
    display: none;
}

#canvas-holder {
    width: 100%;
    height: 100%;
    text-align: left;
}

#content {
    width: 100%;
}

#upload {
    display: none;
}

.table-wrapper
{
    height: 80%;
    overflow: auto;
}